<app-header titulo="Inputs"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ nombre || 'Sin nombre'}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" 
                [(ngModel)] ="nombre"></ion-input>
    </ion-item>
  </ion-list>


  <form #formulario="ngForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
                  type="email" 
                  [(ngModel)]="usuario.email"
                  name="email"
                  required
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
                  type="password" 
                  [(ngModel)]="usuario.password"
                  name="password"
                  required
                  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]='usuario.gender' name="gender" required>
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Toppings</ion-label>
        <ion-select multiple="true" cancelText="Nah" okText="Okay!" >
          <ion-select-option value="bacon">Bacon</ion-select-option>
          <ion-select-option value="olives">Black Olives</ion-select-option>
          <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
          <ion-select-option value="peppers">Green Peppers</ion-select-option>
          <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
          <ion-select-option value="onions">Onions</ion-select-option>
          <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
          <ion-select-option value="pineapple">Pineapple</ion-select-option>
          <ion-select-option value="sausage">Sausage</ion-select-option>
          <ion-select-option value="Spinach">Spinach</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="!formulario.valid">
      Send
    </ion-button>
  </form>

</ion-content>
