<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of components | async"> 
        <ion-item  [routerLink]="c.path" detail>
          <ion-icon color="primary" slot="start" [name]="c.icon"></ion-icon>
          <ion-label class="ion-text-capitalize">{{ c.nombre }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    </ion-content>
</ion-menu>